.popup__close-btn {
	position: absolute;
	top: -43px;
	right: -37px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 30px;
	height: 30px;
	transition: opacity 0.3s ease 0s;
}
.popup__close-btn::before,
.popup__close-btn::after {
	content: "";
	top: 0;
	position: absolute;
	width: 3px;
	height: 43px;
	background-color: #fff;
}
.popup__close-btn::before {
	transform: rotate(45deg);
}
.popup__close-btn::after {
	transform: rotate(-45deg);
}
.popup__close-btn:hover {
	opacity: 0.6;
}
@media screen and (max-width: 620px) {
	.popup__close-btn {
		top: -40px;
		right: -3px;
	}
	.popup__close-btn::before,
	.popup__close-btn::after {
		width: 3px;
		height: 25px;
	}
}
.popup__download-btn{
	position: absolute;
	width: 37px;
	height: 37px;
	top: -41px;
	left: -41px;
	background-image: url(../../../images/download.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 37px 37px;
	transition: opacity 0.3s ease 0s;
}
.popup__download-btn:hover {
	opacity: 0.6;
}

@media screen and (max-width: 620px) {
	.popup__download-btn {
		top: -40px;
		left: -3px;
		width: 25px;
		height: 25px;
		background-size: 25px 25px;
	}
}

@media screen and (max-height: 620px) {
	.popup__download-btn {
		top: 0;
		left: -38px;
		background-size: 25px 25px;
		width: 25px;
		height: 25px;
	}
	.popup__close-btn {
		top: 0;
		right: -38px;
	}
	.popup__close-btn::before,
	.popup__close-btn::after {
		width: 3px;
		height: 25px;
	}
}

@media screen and (max-height: 320px) {
	.popup__download-btn {
		background-size: 15px 15px;
		width: 15px;
		height: 15px;
		left: -28px;
	}
	.popup__close-btn {
		top: 0;
		right: -28px;
	}
	.popup__close-btn::before,
	.popup__close-btn::after {
		width: 3px;
		height: 15px;
	}
}
