.menu-mobile{
    opacity: 0;
    display: flex;
    grid-gap: 18px;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0;
    transition: all 0.5s ease 0s;
    max-width: 100%;
    margin: 0 auto -60px;
}
@media screen and (min-width: 620px) {
    .menu-mobile {
        display: none;
    }
}

